<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminPageStyle.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/navBarStyle.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/paginationStyle.css}">
</head>
<body>
    <header th:replace="~{fragments/navBar :: navBar}">
        <h1>관리자 대시보드</h1>
    </header>

    <main>
        <section id="boardManagement">
            <h2>게시판 관리</h2>
            <div class="board-list">
                <div class="board-header">
                    <div>ID</div>
                    <div>제목</div>
                    <div>작성자</div>
                    <div>작성일</div>
                    <div>조회수</div>
                    <div>관리</div>
                </div>
                <div class="board-item" th:each="board : ${boardPage.content}">
                    <div th:text="${board.id}"></div>
                    <div>
                        <a th:href="@{/community/{id}(id=${board.id}, topic='community', page=${boardPage.currentPage})}"><div th:text="${board.title}"></div></a>
                    </div>
                    <div th:text="${board.writer}"></div>
                    <div th:text="${board.registerDate}"></div>
                    <div th:text="${board.viewCnt}"></div>
                    <div>
                        <a href="#">수정</a>
                        <form th:action="@{/api/v1/admin/{id}/delete(id=${board.id})}" method="post">
                            <input type="hidden" name="_method" value="delete" />
                            <button type="sumbit" class="deleteBtn">삭제</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <div>
                총 페이지: <span th:text="${boardPage.totalPages}"></span>
                현재 페이지: <span th:text="${boardPage.currentPage}"></span>
            </div>
    
    
            <nav class="pagination-container">
                <div class="pagination">
                    <button th:if="${boardPage.currentPage > 1}"
                            th:onclick="'window.location.href=\'' + @{/api/v1/admin/adminPage/boardList(page=${boardPage.currentPage - 1}, sort=${sort}, searchType=${searchType}, searchKeyword=${searchKeyword})} + '\''"
                            class="pagination-button">Previous</button>
    
                    <button th:if="${start > 1}"
                            th:onclick="'window.location.href=\'' + @{/api/v1/admin/adminPage/boardList(page=1, sort=${sort}, searchType=${searchType}, searchKeyword=${searchKeyword})} + '\''"
                            class="pagination-button">1</button>
                    <span th:if="${start > 2}" class="pagination-ellipsis">...</span>
    
                    <button th:each="pageNum : ${#numbers.sequence(start, end)}"
                            th:onclick="'window.location.href=\'' + @{/api/v1/admin/adminPage/boardList(page=${pageNum}, sort=${sort}, searchType=${searchType}, searchKeyword=${searchKeyword})} + '\''"
                            th:text="${pageNum}"
                            th:class="${pageNum == boardPage.currentPage} ? 'pagination-button active' : 'pagination-button'"></button>     
                    <span th:if="${end < boardPage.totalPages - 1}" class="pagination-ellipsis">...</span>
                    <button th:if="${end < boardPage.totalPages}"
                            th:onclick="'window.location.href=\'' + @{/api/v1/admin/adminPage/boardList(page=${boardPage.totalPages}, sort=${sort}, searchType=${searchType}, searchKeyword=${searchKeyword})} + '\''"
                            th:text="${boardPage.totalPages}"
                            class="pagination-button"></button>
    
                    <button th:if="${boardPage.currentPage < boardPage.totalPages}"
                            th:onclick="'window.location.href=\'' + @{/api/v1/admin/adminPage/boardList(page=${boardPage.currentPage + 1}, sort=${sort}, searchType=${searchType}, searchKeyword=${searchKeyword})} + '\''"
                            class="pagination-button">Next</button>
                </div>
            </nav>
        </div>
    </main>
</body>
</html>