<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminPageStyle.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/navBarStyle.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/paginationStyle.css}">
    
    <style>
        .search-container {
            width: 300px;
            margin: 20px auto;
        }
        .deleteBtn {
            width: 60%;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: 1px solid #4CAF50;
            border-radius: 0 4px 4px 0;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <header th:replace="~{fragments/navBar :: navBar}">
        <h1>관리자 대시보드</h1>
    </header>
    <main>
        <div class="content-wrapper">
            <div class="mainContainer">
                <div class="leftLayer">
                    <div th:replace="~{admin/navAdmin :: navAdmin}"></div>
                </div>
                <section id="boardManagement">
                    <h2>게시판 관리</h2>
                    <div class="board-list">
                        <div class="search-bar">
                            <form th:action="@{/api/v1/admin/adminPage/boardList}" method="get">
                                <input type="hidden" name="page" th:value="1">
                                <input type="hidden" name="sort" th:value="${sort}">
                            
                                
                                <select name="searchType">
                                    <option value="title" th:selected="${searchType == 'title'}">제목</option>
                                    <option value="writer" th:selected="${searchType == 'writer'}">작성자</option>      
                                </select>
                                <input type="text" name="searchKeyword" th:value="${searchKeyword}" placeholder="검색어">
                                <input class="searchButton" type="submit" value="검색"/>
                            </form>
                        </div>
                        <div class="board-header">
                            <div>ID</div>
                            <div>제목</div>
                            <div>작성자</div>
                            <div>작성일</div>
                            <div>조회수</div>
                            <div>관리</div>
                        </div>
                        <div class="board-item" th:each="board : ${boardPage.content}">
                            <div th:text="${board.id}"></div>
                            <div>
                                <a th:href="@{/community/{id}(id=${board.id}, topic='community', page=${boardPage.currentPage})}"><div th:text="${board.title}"></div></a>
                            </div>
                            <div th:text="${board.writer}"></div>
                            <div th:text="${board.registerDate}"></div>
                            <div th:text="${board.viewCnt}"></div>
                            <div>
                                <form th:action="@{/api/v1/admin/{id}/editForm(id=${board.id})}">
                                    <button type="sumbit" class="editBtn">수정</button>
                                </form>
                                <form th:action="@{/api/v1/admin/{id}/delete(id=${board.id})}" method="post">
                                    <input type="hidden" name="_method" value="delete" />
                                    <button type="sumbit" class="deleteBtn">삭제</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
                
                <div class="rightLayer">

                </div>
            </div>
        </div>
        <div class="container">
            <nav class="pagination-container">
                <div class="pagination">
                    <button th:if="${boardPage.currentPage > 1}"
                            th:onclick="'window.location.href=\'' + @{/api/v1/admin/adminPage/boardList(page=${boardPage.currentPage - 1}, sort=${sort}, searchType=${searchType}, searchKeyword=${searchKeyword})} + '\''"
                            class="pagination-button">Previous</button>
    
                    <button th:if="${start > 1}"
                            th:onclick="'window.location.href=\'' + @{/api/v1/admin/adminPage/boardList(page=1, sort=${sort}, searchType=${searchType}, searchKeyword=${searchKeyword})} + '\''"
                            class="pagination-button">1</button>
                    <span th:if="${start > 2}" class="pagination-ellipsis">...</span>
    
                    <button th:each="pageNum : ${#numbers.sequence(start, end)}"
                            th:onclick="'window.location.href=\'' + @{/api/v1/admin/adminPage/boardList(page=${pageNum}, sort=${sort}, searchType=${searchType}, searchKeyword=${searchKeyword})} + '\''"
                            th:text="${pageNum}"
                            th:class="${pageNum == boardPage.currentPage} ? 'pagination-button active' : 'pagination-button'"></button>     
                    <span th:if="${end < boardPage.totalPages - 1}" class="pagination-ellipsis">...</span>
                    <button th:if="${end < boardPage.totalPages}"
                            th:onclick="'window.location.href=\'' + @{/api/v1/admin/adminPage/boardList(page=${boardPage.totalPages}, sort=${sort}, searchType=${searchType}, searchKeyword=${searchKeyword})} + '\''"
                            th:text="${boardPage.totalPages}"
                            class="pagination-button"></button>
    
                    <button th:if="${boardPage.currentPage < boardPage.totalPages}"
                            th:onclick="'window.location.href=\'' + @{/api/v1/admin/adminPage/boardList(page=${boardPage.currentPage + 1}, sort=${sort}, searchType=${searchType}, searchKeyword=${searchKeyword})} + '\''"
                            class="pagination-button">Next</button>
                </div>
            </nav>
        </div>
    </main>
</body>
</html>