<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/navAdminStyle.css}">
</head>
<body>
    <nav class="admin-sidebar" th:fragment="navAdmin">
        <h1 class="sidebar-title">관리자 페이지</h1>
        <ul class="sidebar-menu">
            <li><a th:href="@{/api/v1/admin/adminPage/dashBoard}"><i class="fas fa-home"></i> 대시보드</a></li>
            <li><a th:href="@{/api/v1/admin/adminPage/boardList}"><i class="fas fa-clipboard-list"></i> 게시판 관리</a></li>
            <li><a th:href="@{/api/v1/admin/adminPage/user-management}"><i class="fas fa-users"></i> 회원 관리</a></li>
            <li><a href="#"><i class="fas fa-cog"></i> 설정</a></li>
        </ul>
    </nav>
</body>
</html>