<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" th:fragment="fragment-nav">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/navBarStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="js/navbarToggle.js" defer></script>
    <title>Nav bar</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar__logo">
            <img src="/images/utensils-solid.svg" alt="Utensils Icon" width="50" height="50">
            <a href="">Foody</a>
        </div>
        <ul class="navbar__menu">
            <li><a href="/index">Home</a></li>
            <li><a href="#">리뷰</a></li>
            <li><a href="/api/v1/board">게시판</a></li>
            <li><a href="/loginForm">로그인/회원가입</a></li>
        </ul>
        <ul class="navbar__icons">
            <!-- <li><a href=""><img src="globe-solid.svg" width="30" height="10"> 한국어</a>
                
            </li> -->
        </ul>
       
        <a href="#" class="navbar__toggleBtn">
            <img src="images/bars-solid.svg" alt="Utensils Icon" width="50" height="50">
        </a>
</nav>
</body>
</html>