body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.btn-primary {
    background-color: #1e90ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-toggle {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    padding: 6px 12px;
    font-size: 16px;
    cursor: pointer;
}

.dropdown-toggle span {
    pointer-events: none;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-menu a:hover {
    background-color: #f1f1f1;
}
.show {
    display: block;
}
.search-bar {
    width: 100%;
    
}
.search-bar input {
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}
.post-item {
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}
.post-item a{
    text-decoration: none;
    color: inherit;
}
.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.author {
    font-weight: bold;
    margin-right: 10px;
}
.badge {
    background-color: #e0e0e0;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
}
.board-time {
    color: #888;
    font-size: 12px;
    margin-left: auto;
}
.post-title {
    font-size: 16px;
    margin-bottom: 5px;
}
.tag {
    background-color: #f0f0f0;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
    margin-right: 5px;
}
.post-stats {
    display: flex;
    justify-content: flex-end;
    color: #888;
    font-size: 12px;
}
.post-stats > span {
    margin-left: 10px;
}


/* 다크 모드 지원 */
@media (prefers-color-scheme: dark) {
    .pagination-button {
        color: #9ca3af;  /* dark:text-gray-400 */
    }

    .pagination-button:hover {
        color: #bfdbfe;  /* dark:text-blue-200 */
    }

    .pagination-ellipsis {
        color: #9ca3af;  /* dark:text-gray-400 */
    }
}