/* 필터링 css */
.filter-bar {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

#filter-btn-detail {
    padding: 8px 16px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s;
}

#filter-btn-detail:hover, #filter-btn-detail.active {
    background-color: #ffba00;
    color: white;
}

.filter-btn {
    padding: 8px 16px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.filter-btn:hover, .filter-btn.active {
    background-color: #ffba00;
    color: white;
}

#filterModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
#filterModal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 5% auto; /* 상단에서의 거리 조정 */
    padding: 20px;
    border: 10px solid #888;
    width: 80%; /* 너비 조정 */
    height: 80vh; /* 최대 높이 설정 */
    max-width: 1000px; /* 최대 너비 설정 */
    max-height: 800px; /* 최대 높이 설정 */
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤 허용 */
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#filterModal-content h2 {
    display: inline-block;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.filter-header h2 {
    margin: 0;
    display: flex;
}
#resetFilter {
    background: none;
    border: none;
    margin-left: 5px;
    color: #ff9900;
    font-size: 1.0em;
    cursor: pointer;
}
.filter-body {
    flex-grow: 1;
    overflow-y: auto;
}
.filter-section {
    margin-bottom: 20px;
}

.filter-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.filter-sort-option, .filter-theme-option, .filter-service-option {
    padding: 8px 16px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
}

.filter-sort-option.active, .filter-theme-option.active, .filter-service-option.active {
    background-color: #ff9900;
    color: white;
    border-color: #ff9900;
}
.filter-footer {
    margin-top: 20px;
}

#applyFilter {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #ff9900;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.closeFilterModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;
}
.closeFilterModal:hover,
.closeFilterModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
