<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>얌뮤티</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSRF 메타 태그 포함 -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/indexStyle.css}">
</head>
<body>
    <header th:replace="~{fragments/navBar :: navBar}"></header>
    <main class="hero">
        <div class="hero-container">
            <div class="logo">#얌뮤티</div>
            <h1 class="main-title">맛집이 찾던</h1>
            <h1 class="main-title accent">#커뮤니티</h1>
            <div class="button-group">
                <a th:href="@{/loginForm}" class="btn btn-primary">시작하기</a>
            </div>
            <div class="sub-content">
                <div class="divider">
                </div>
                <h2 class="sub-title">
                    세상의 모든 <span class="accent">리뷰</span>로<br>
                    우리만의 <span class="accent">커뮤니티</span>를 만들어요!
                </h2>
            </div>
        </div>
    </main>
    <script>
        const token = document.querySelector("meta[name='_csrf']").content;
        const header = document.querySelector("meta[name='_csrf_header']").content;
        
        console.log(token);
        console.log(header);
    </script>
</body>

</html>