<!--<html lang="en" xmlns:th="http://thymeleaf.org">-->
<!--            <header th:replace="~{fragments/navBar :: navBar}"></header>-->
<!--            <meta charset="utf-8">-->
<!--          -->
<!--            <title>Foody</title>-->
<!--            <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--            <link href="https://fonts.googleapis.com/css?family=Noto+Sans KR&display=swap" rel="stylesheet">-->
<!--            <link rel="stylesheet" type="text/css" th:href="@{css/navBarStyle.css}">-->
<!--            <link rel="stylesheet" href="css/loginstyles.css">-->
<!--            <script src="js/loginToggle.js" defer></script>-->
<!--            <script src="js/loginValidate.js" defer></script>.-->
<!--            <script src="js/joinValidation.js" defer></script>-->

<!--          </head>-->
<!--          -->
<!--          <body>-->
<!--            <div id="container" class="container">-->
<!--              &lt;!&ndash; FORM SECTION &ndash;&gt;-->
<!--              <div class="row">-->
<!--                &lt;!&ndash; SIGN UP &ndash;&gt;-->
<!--                <div class="col align-items-center flex-col sign-up">-->
<!--                  <div class="form-wrapper align-items-center">-->
<!--                    <div class="form sign-up">-->
<!--                      <form id="join-form" action="/api/join" method="post">-->
<!--                        <div class="input-group">-->
<!--                          <i class='bx bxs-user'></i>-->
<!--                          <input type="text" id="username" name="username" placeholder="아이디">-->
<!--                          <button type="button" class="check-duplicate">중복 확인</button>-->
<!--                        </div>-->
<!--                        <div class="input-group">-->
<!--                          <i class='bx bx-mail-send'></i>-->
<!--                          <input type="email" id="email" name="email" placeholder="이메일">-->
<!--                        </div>-->
<!--                        <div class="input-group">-->
<!--                          <i class='bx bxs-lock-alt'></i>-->
<!--                          <input type="password" id="password" name="password" placeholder="비밀번호">-->
<!--                        </div>-->
<!--                        <div class="input-group">-->
<!--                          <i class='bx bxs-lock-alt'></i>-->
<!--                          <input type="password" id="confirm_password" placeholder="비밀번호 확인">-->
<!--                        </div>-->
<!--                        <button type="submit">-->
<!--                          회원가입-->
<!--                        </button>-->
<!--                      </form>-->
<!--                      <p>-->
<!--                        <span>-->
<!--                          이미 계정을 갖고 계신가요?-->
<!--                        </span>-->
<!--                        <b onclick="toggle()" class="pointer">-->
<!--                          로그인 하기-->
<!--                        </b>-->
<!--                      </p>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                -->
<!--                </div>-->
<!--                &lt;!&ndash; END SIGN UP &ndash;&gt;-->
<!--                &lt;!&ndash; SIGN IN &ndash;&gt;-->
<!--                <div class="col align-items-center flex-col sign-in">-->
<!--                  <div class="form-wrapper align-items-center">-->
<!--                    <div class="form sign-in">-->
<!--                      <form id="login-form" action="/api/login" method="post">-->
<!--                        <div class="input-group">-->
<!--                          <i class='bx bxs-user'></i>-->
<!--                          <input type="text" id="LoginUsername" name="username" placeholder="아이디">-->
<!--                        </div>-->
<!--                        <div class="input-group">-->
<!--                          <i class='bx bxs-lock-alt'></i>-->
<!--                          <input type="password" id="LoginPassword" name="password" placeholder="비밀번호">-->
<!--                        </div>-->
<!--                        <button type="submit">-->
<!--                          로그인-->
<!--                        </button>-->
<!--                      </form>-->
<!--                      <div class="oAuth2-login">-->
<!--                      <ul>-->
<!--                        <li><a href="/oauth2/authorization/google"><img src="/images/google.png" alt=""></a></li>-->
<!--                        <li><a href=""><img src="/images/naver.png" alt=""></a></li>-->
<!--                      </ul>-->
<!--                      </div>-->
<!--                      <p>-->
<!--                        <b>-->
<!--                          비밀번호 찾기-->
<!--                        </b>-->
<!--                      </p>-->
<!--                      <p>-->
<!--                        <span>-->
<!--                          계정이 없으신가요?-->
<!--                        </span>-->
<!--                        <b onclick="toggle()" class="pointer">-->
<!--                          회원가입 하기-->
<!--                        </b>-->
<!--                      </p>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="form-wrapper">-->
<!--              -->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; END SIGN IN &ndash;&gt;-->
<!--              </div>-->
<!--              &lt;!&ndash; END FORM SECTION &ndash;&gt;-->
<!--              &lt;!&ndash; CONTENT SECTION &ndash;&gt;-->
<!--              <div class="row content-row">-->
<!--                &lt;!&ndash; SIGN IN CONTENT &ndash;&gt;-->
<!--                <div class="col align-items-center flex-col">-->
<!--                  <div class="text sign-in">-->
<!--                    <h2>-->
<!--                      반갑습니다, Foody입니다.-->
<!--                    </h2>-->
<!--            -->
<!--                  </div>-->
<!--                  <div class="img sign-in">-->
<!--              -->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; END SIGN IN CONTENT &ndash;&gt;-->
<!--                &lt;!&ndash; SIGN UP CONTENT &ndash;&gt;-->
<!--                <div class="col align-items-center flex-col">-->
<!--                  <div class="img sign-up">-->
<!--                  -->
<!--                  </div>-->
<!--                  <div class="text sign-up">-->
<!--                    <h2>-->
<!--                      Foody는 다양한 고객님들의 음식 리뷰와 추천 사이트입니다.-->
<!--                    </h2>-->
<!--            -->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; END SIGN UP CONTENT &ndash;&gt;-->
<!--              </div>-->
<!--              &lt;!&ndash; END CONTENT SECTION &ndash;&gt;-->
<!--            </div>-->
<!--          </body>-->
<!--          </html>-->
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head>
    <title>Foody</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{css/navBarStyle.css}">
    <link rel="stylesheet" href="css/loginstyles.css">
    <script src="js/loginToggle.js" defer></script>
    <script src="js/loginValidate.js" defer></script>
    <script src="js/joinValidation.js" defer></script>
  </head>
<body>
    <header th:replace="~{fragments/navBar :: navBar}"></header>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form action="/api/login" class="sign-in-form" method="post">
                    <h2 class="title">로그인</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" id="LoginUsername" name="username" placeholder="아이디" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" id="LoginPassword" name="password" placeholder="비밀번호" />
                    </div>
                    <input type="submit" value="로그인" class="btn solid" />
                    <div class="sns-login-container">
                        <span class="sns-login-text">SNS 간편 로그인</span>
                        <div class="sns-links">
                            <a href="#" class="sns-link naver">N</a>
                            <a href="#" class="sns-link kakao">K</a>
                            <a href="/oauth2/authorization/google" class="sns-link google"></a>
                        </div>
                    </div>
                </form>
                <form action="/api/join" class="sign-up-form" method="post">
                    <h2 class="title">회원가입</h2>

                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                       <input type="text" id="username" name="username" placeholder="아이디" />
                       <button type="button" class="check-id-btn">중복 확인</button>
                    </div>

                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input type="email" id="email" name="email" placeholder="이메일" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" id="password" name="password" placeholder="비밀번호" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" id="confirm_password" placeholder="비밀번호 확인" />
                    </div>
                    <input type="submit" class="btn" value="회원가입" />
                </form>
            </div>
        </div>


        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>처음이신가요?</h3>
                    <p>
                        Foody에서 당신만의 특별한 미식 경험을 공유해보세요!
                    </p>
                    <button class="btn transparent" id="sign-up-btn">
                        회원가입
                    </button>
                </div>
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>이미 회원이신가요?</h3>
                    <p>
                        로그인하고 Foody의 다양한 기능을 즐겨보세요!
                    </p>
                    <button class="btn transparent" id="sign-in-btn">
                        로그인
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>
        const sign_in_btn = document.querySelector("#sign-in-btn");
        const sign_up_btn = document.querySelector("#sign-up-btn");
        const container = document.querySelector(".container");

        sign_up_btn.addEventListener("click", () => {
            container.classList.add("sign-up-mode");
        });

        sign_in_btn.addEventListener("click", () => {
            container.classList.remove("sign-up-mode");
        });
    </script>
</body>
</html>