<html lang="en" xmlns:th="http://thymeleaf.org">
  <head>
    <title>얌뮤티 - 로그인 페이지</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{css/loginstyles.css}">
  </head>
<body>
    <header th:replace="~{fragments/navBar :: navBar}"></header>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form action="/api/login" class="sign-in-form" method="post">
                    <h2 class="title">로그인</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" id="LoginUsername" name="username" placeholder="아이디" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" id="LoginPassword" name="password" placeholder="비밀번호" />
                    </div>
                    <input type="submit" value="로그인" class="btn solid" />
                    <div class="sns-login-container">
                        <span class="sns-login-text">SNS 간편 로그인</span>
                        <div class="sns-links">
                            <a href="#" class="sns-link naver">N</a>
                            <a href="#" class="sns-link kakao">K</a>
                            <a href="/oauth2/authorization/google" class="sns-link google"></a>
                        </div>
                    </div>
                </form>
                <form action="/api/join" class="sign-up-form" method="post">
                    <h2 class="title">회원가입</h2>

                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                       <input type="text" id="username" name="username" placeholder="아이디" />
                       <button type="button" class="check-id-btn">중복 확인</button>
                    </div>

                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input type="email" id="email" name="email" placeholder="이메일" />
                        <button type="button" class="check-email-btn">인증</button>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" id="password" name="password" placeholder="비밀번호" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" id="confirm_password" placeholder="비밀번호 확인" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" id="authentication_number" placeholder="인증번호" />
                    </div>
                    <input type="submit" class="btn" value="회원가입" />
                </form>
            </div>
        </div>


        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>처음이신가요?</h3>
                    <p>
                        <bold>얌뮤티</bold>에서 음식 커뮤니티 경험을 공유해보세요!
                    </p>
                    <button class="btn transparent" id="sign-up-btn">
                        회원가입
                    </button>
                </div>
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>이미 회원이신가요?</h3>
                    <p>
                        로그인하고 얌뮤티의 다양한 기능을 즐겨보세요!
                    </p>
                    <button class="btn transparent" id="sign-in-btn">
                        로그인
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        const sign_in_btn = document.querySelector("#sign-in-btn");
        const sign_up_btn = document.querySelector("#sign-up-btn");
        const container = document.querySelector(".container");
    
        sign_up_btn.addEventListener("click", () => {
            container.classList.add("sign-up-mode");
        });
    
        sign_in_btn.addEventListener("click", () => {
            container.classList.remove("sign-up-mode");
        });
    </script>
    
    <script th:src="@{/js/sendEmail.js}" defer></script>
    <script th:src="@{/js/joinValidation.js}" defer></script>
    <script th:src="@{/js/loginToggle.js}" defer></script>
    <script th:src="@{/js/loginValidate.js}" defer></script>
</body>
</html>