<!DOCTYPE html>
<div th:fragment="comments-section" class="comments-section">
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <h3 th:inline="text">[[${restaurant.reviewCnt}]]개의 리뷰</h3>
        <div sec:authorize="!isAuthenticated()" class="comment-form">
            <div class="comment-input-wrapper">
                <p>작성하려면 <a th:href="@{/loginForm}" class="login-link">로그인</a>이 필요합니다.</p>
                <button type="submit" class="btn">작성</button>
            </div>
        </div>
        <div sec:authorize="isAuthenticated()" class="comment-form">
            <div class="comment-input-wrapper">
                <form id="reviewForm">
                    <textarea name="content" placeholder="댓글을 입력하세요" required></textarea>
                        <div class="rating">
                            <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                            <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                            <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                            <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                            <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                        </div>
                    <button type="submit" class="btn">작성</button>
                </form>
            </div>
        </div>
        <div class="comment-list" th:each="comment : ${comments}">
            <div class="comment-item">
                <div class="comment-header">
                <span class="user-name" th:text="${comment.writer}"></span>
                <span class="comment-date" th:text="${comment.registerDate}"></span>
                </div>
                <div class="comment-content">
                <span th:text="${comment.content}"></span>
                </div>
                <div class="comment-actions">
                <button class="like-btn">좋아요</button>
                <span class="like-count">0</span>
                <button class="dislike-btn">싫어요</button>
                <span class="dislike-count">0</span>
                </div>
            </div>
        </div>
    </body>
</html>
</div>

