<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mapModalStyle.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/loadingSpinnerStyle.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/restaurantListStyle.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/filterModalStyle.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/filterBarStyle.css}">

    <script type="text/javascript" 
        th:src="@{|https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=${@environment.getProperty('naver.maps.client.id')}&submodules=geocoder,marker|}">
    </script>
    <script type="text/javascript" 
        th:src="@{|https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=${@environment.getProperty('naver.maps.client.id')}|}">
    </script>
    <title>오늘 뭐 먹지? - 음식 추천 AI 서비스</title> 
</head>
<body>
    <header th:replace="~{fragments/navBar :: navBar}"></header>
    <div class="content-wrapper">
        <div class="ad-space">
            광고 영역 (추후 구현 예정)
        </div>
        <div class="filter-bar">
            <button id="filter-btn-detail">필터</button>
            <button class="filter-btn" data-filter="all">전체</button>
            <button class="filter-btn" data-filter="한식">한식</button>
            <button class="filter-btn" data-filter="카페,디저트">카페</button>
        </div>
        <div id="content-wrapper">
            <div id="main">
                <div id="food-list">
                    <!-- food-item 등록 칸 -->
                </div>
                <!-- <div id="map"></div> -->
                <div id="loading">
                    <div class="loading-spinner"></div>
                    <div class="loading-text">정보를 불러오는 중입니다</div>
                </div>
            </div>
            
            <!-- 필터 버튼 모달 -->
            <div id="filterModal">
                <div id="filterModal-content">
                    <span class="closeFilterModal">&times;</span>
                    <div class="filter-header">
                        <h2>필터 <button id="resetFilter"><i class="fa-solid fa-arrow-rotate-right"></i></button></h2>
                        
                    </div>
                    
                    <div class="filter-body">
                        <div class="filter-section">
                            <h3>정렬</h3>
                            <div class="filter-options">
                                <button class="filter-sort-option active" data-filter="평점순">평점순</button>
                                <button class="filter-sort-option" data-filter="조회순">조회순</button>
                                <button class="filter-sort-option" data-filter="거리순">거리순</button>
                                <button class="filter-sort-option" data-filter="리뷰순">리뷰순</button>
                            </div>
                        </div>
                
                        <div class="filter-section">
                            <h3>테마</h3>
                            <div class="filter-options">
                                <button class="filter-theme-option" data-filter="삼겹살">삼겹살</button>
                                <button class="filter-theme-option" data-filter="회식">회식</button>
                                <button class="filter-theme-option" data-filter="데이트">데이트</button>
                                <button class="filter-theme-option" data-filter="접대">접대</button>
                                <!-- 추가 옵션들 -->
                            </div>
                        </div>
                
                        <div class="filter-section">
                            <h3>서비스</h3>
                            <div class="filter-options">
                                <button class="filter-service-option" data-filter="주차">주차</button>
                                <button class="filter-service-option" data-filter="예약">예약</button>
                                <button class="filter-service-option" data-filter="포장">포장</button>
                                <!-- 추가 옵션들 -->
                            </div>
                        </div>
                    </div>
                
                    <div class="filter-footer">
                        <button id="applyFilter">필터 적용</button>
                    </div>
                </div>
            </div>

            <!-- 지도 모달 -->
            <div id="mapModal" class="modal-wrapper">
                <div id="mapModal-content">
                    <!-- mapModal 내용 삽입 -->
                </div>
            </div>
            
        </div>
    </div>
    <!-- import 맵 -->
    <script type="importmap" th:inline="javascript">
        {
            "imports": {
                "@/MapUtils": "/js/MapUtils.js",
                "@/ModalService": "/js/ModalService.js",
                "@/restaurantUtils": "/js/restaurantUtils.js",
                "@/RestaurantService": "/js/RestaurantService.js",
                "@/ReviewService": "/js/ReviewService.js",
                "@/FilterRestaurantService": "/js/FilterRestaurantService.js",
                "@/elapsedTimeComment": "/js/elapsedTimeComment.js",
                "@/ReviewLikeService": "/js/ReviewLikeService.js"
            }
        }
    </script>
    <script th:src="@{/js/elapsedTimeComment.js}"></script>
    <script type="module" defer>
        import { restaurantService } from '@/RestaurantService';
        import { modalService } from '@/ModalService';
        import { reviewService } from '@/ReviewService';
        import { filterRestaurantService } from '@/FilterRestaurantService';
        console.log("test");
        
        try{
            
            // 이미지 로드 에러 핸들러
            function handleImageLoadErrorHandler() {

            }
           
            // 모달 관련 전역 이벤트
            window.onclick = function(event) {
                if (event.target == mapModal) {
                    modalService.closeModal();
                }
                if (event.target == filterModal) {
                    const filterBtnDetail = document.getElementById('filter-btn-detail');
                    filterBtnDetail?.classList.remove('active');
                    filterModal.style.display = "none";
                }
            }
            
            const spanFilterClose =  document.getElementsByClassName("closeFilterModal")[0];
            
            // 필터 모달 닫기 버튼 클릭 시 닫기
            spanFilterClose.onclick = function() {
                console.log("spanFilterClose clicked");
                const filterBtnDetail = document.getElementById('filter-btn-detail');
                filterBtnDetail.classList.remove('active');
                filterModal.style.display = "none";
            }
        // ... other functions if needed ...
        }catch(error){
            console.log("Error : ", error);
        }
        // =================================필터 관련 자바스크립트==========================
        // 필터 버튼에 이벤트 리스너 추가
        // const filterButtons = document.querySelectorAll('.filter-btn');
        // filterButtons.forEach(button => {
        //     button.addEventListener('click', () => {
        //         const filter = button.getAttribute('data-filter');
        //         filterFoodItems(filter);
            
        //         // 활성 버튼 스타일 변경
        //         filterButtons.forEach(btn => btn.classList.remove('active'));
        //         const filterBtnDetail = document.getElementById('filter-btn-detail');
        //         // 필터 버튼이 활성화 되어있다면 비활성화
        //         if (filterBtnDetail && filterBtnDetail.classList.contains('active')) {
        //             filterBtnDetail.classList.remove('active');
        //         }
        //         button.classList.add('active');
        //     });
        // });

        // // 음식점 필터링 함수
        // function filterFoodItems(filter) {
        //     const foodItems = document.querySelectorAll('.food-item');
        //     foodItems.forEach(item => {
        //         if (filter === 'all' || item.getAttribute('data-category') === filter) {
        //                 item.style.display = 'block';
        //             } else {
        //                 item.style.display = 'none';
        //             }
        //         });
        // }

        // 초기 로드 시 '전체' 필터 활성화
        window.addEventListener('load', () => {
            document.querySelector('.filter-btn[data-filter="all"]').click();
        });
        document.addEventListener('DOMContentLoaded', () => {
            const filterBtnDetail = document.getElementById('filter-btn-detail');
            filterBtnDetail.addEventListener('click', () => {
                const filterbtnDetail = document.getElementById('filter-btn-detail');
                const filterButtons = document.querySelectorAll('.filter-btn');
                filterButtons.forEach(btn => btn.classList.remove('active'));
                filterbtnDetail.classList.add('active');
                filterModal.style.display = "block";
            })
        })
    </script>
    <script type="module" defer>
        import { createFoodItem } from '/js/restaurantUtils.js';
        import { modalService } from '@/ModalService';
        import { filterRestaurantService} from '@/FilterRestaurantService';

        document.addEventListener('DOMContentLoaded', () => {
            // FilterRestaurantService만 초기화하면 됨
            filterRestaurantService;
        });              
    </script>
    <script>
        
    </script>
</body>
</html>