<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=z9fdx1to2u"></script>
</head>
<body>
<div id="map" style="width:840px;height:400px;"></div>

<script>
var mapOptions = {
    center: new naver.maps.LatLng(89.9957186, 113.0113816),
    zoom: 15
};

var map = new naver.maps.Map('map', mapOptions);
</script>
</body>
</html>