<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HomePage.admin.mapper.AdminBoardMapper">
    <resultMap id="communityBoardResultMap" type="HomePage.domain.model.CommunityBoard">
        <id property="id" column="board_id"/>
        <result property="writer" column="writer"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="registerDate" column="regdate"/>
        <result property="viewCnt" column="viewCnt"/>
        <result property="commentCnt" column="commentCnt"/>
        <result property="updateDate" column="updateDate"/>
        <result property="deleteDate" column="deleteDate"/>
    </resultMap>

    <insert id="save" parameterType="HomePage.domain.model.CommunityBoard" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO security.communityboard (writer, title, content, regdate, viewCnt, commentCnt)
        VALUES (#{writer}, #{title}, #{content}, #{registerDate}, #{viewCnt}, #{commentCnt})
    </insert>

    <select id="findPage" resultMap="communityBoardResultMap">
        SELECT * FROM security.communityboard
        WHERE deleteDate IS NULL
        ORDER BY board_id DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="findPageByTitle" resultMap="communityBoardResultMap">
        SELECT * FROM security.communityboard
        WHERE deleteDate IS NULL AND title LIKE CONCAT('%', #{title}, '%')
        ORDER BY regdate DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="findPageByWriter" resultMap="communityBoardResultMap">
        SELECT * FROM security.communityboard
        WHERE deleteDate IS NULL AND writer LIKE CONCAT('%' #{writer}, '%')
        ORDER BY regdate DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(*) FROM security.communityboard WHERE deleteDate IS NULL
    </select>

    <select id="countByTitle" resultType="int">
        SELECT COUNT(*) FROM security.communityboard WHERE title LIKE CONCAT('%', #{title}, '%')
    </select>

    <select id="countByWriter" resultType="int">
        SELECT COUNT(*) FROM security.communityboard WHERE writer LIKE CONCAT('%', #{writer}, '%')
    </select>

    <update id="update" parameterType="HomePage.domain.model.CommunityBoard">
        UPDATE security.communityboard
        SET title = #{title}, content = #{content}, updateDate = #{updateDate}
        WHERE board_id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM security.communityboard WHERE board_id = #{id}
    </delete>

    <select id="selectById" resultMap="communityBoardResultMap">
        SELECT * FROM security.communityboard WHERE board_id = #{id}
    </select>

    <select id="selectByTitle" resultMap="communityBoardResultMap">
        SELECT * FROM security.communityboard WHERE title = #{title}
    </select>

    <select id="selectByWriter" resultMap="communityBoardResultMap">
        SELECT * FROM security.communityboard WHERE writer = #{writer}
    </select>

    <select id="selectAll" resultMap="communityBoardResultMap">
        SELECT * FROM security.communityboard
    </select>

</mapper>