<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HomePage.admin.mapper.AdminBoardMapper">
    <select id="getAllBoards" resultType="HomePage.domain.model.CommunityBoard">
        SELECT
            board_id as id,
            title,
            content,
            writer

        FROM security.communityboard
        ORDER BY board_id DESC
    </select>

    <select id="getBoardById" parameterType="Long" resultType="HomePage.domain.model.CommunityBoard">
        SELECT * FROM security.communityboard WHERE board_id = #{id}
    </select>

    <update id="updateBoard" parameterType="HomePage.domain.model.CommunityBoard">
        UPDATE security.communityboard
        SET title = #{title}, content = #{content}, updatedDate = NOW()
        WHERE board_id = #{id}
        <selectKey keyProperty="id" resultType="Long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </update>

    <delete id="deleteBoard" parameterType="Long">
        DELETE FROM security.communityboard WHERE board_id = #{id}
    </delete>
</mapper>

